
body{
    background-color:cornflowerblue;
    text-transform: uppercase;
}
.display{
    margin-top: 10rem;
}
p{
    font-size: 4rem;
    color: white;
    text-align: center;
}
form{
    margin-top: 20rem;
   display: flex;
   justify-content: center;
}
.time-button{
    
    background-color:cornflowerblue;
    color: white;
    text-align: center;
   display: flex;
   padding: 10px;
    flex: 1;
  
   border-bottom: 1px solid rgb(21, 51, 107);
   border-right: 1px solid rgb(21, 51, 107);
   
    justify-content: center;
   
}
.timer{
    display: flex;
    flex: 1;
    text-align: center;
}
input{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
}
